option_settings:
  aws:elbv2:listener:443:
    DefaultProcess: default
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:ap-northeast-1:677348222512:certificate/ceaaed67-16e7-4d58-8704-aba768ceffef

  aws:elasticbeanstalk:environment:process:https:
    Port: '443'
    Protocol: HTTPS

  aws:elasticbeanstalk:environment:process:default:
    Port: '80'
    Protocol: HTTP
    StickinessEnabled: 'true'
    MatcherHTTPCode: 200

  aws:elbv2:listener:80
    DefaultProcess: http
    ListenerEnabled: true
    Protocol: HTTP

  aws:elasticbeanstalk:environment:process:http:
    Port: '80'
    Protocol: HTTP
    HealthCheckPath: /
    MatcherHTTPCode: 301


