<div class="WorksList">
	<% @works.each do |work| %>
		<%= react_component("WorkContainer", { work: work, work_path: work_path(work), token: form_authenticity_token }) %>
	<% end %>
	<div class="bottomWidget"><%= link_to works_path, method: :post, class: "addButton" do %><i class="material-icons">add_circle</i><% end %></div>
</div>

