<div class="WorksList">
	<%= react_component("WorksList", { works: @works, url: works_path, token: form_authenticity_token }) %>
	<%= link_to "add_circle", works_path, method: :post, class: "addButton material-icons" %>
</div>
