<% if user_signed_in? %>
	<%= react_component("Container", { works: @works, done: @done, url: works_path, edit_user: edit_user_registration_path, sign_out: destroy_user_session_path, token: form_authenticity_token }, { prerender: false, class: "container" }) %>
<% else %>
	<div class="devise">
	  <div class="message">
	    MyToDo<br>
	    is a simple Web-Based ToDo App.<br>
	    Currently WIP.<br>
	    Any data lost won't be supported.
	  </div>
		<div class="flex">
	    	<%= link_to "Log in", new_user_session_path, class: "deviseButton" %>
	    	<%= link_to "Sign up", new_user_registration_path, class: "deviseButton" %>
	    </div>
	</div>
<% end %>