/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

textarea, input {
	background-color: transparent;
	border: 0;
	padding: 0;
	flex: auto;
	transition: background-color 0.15s ease-out;
	border-radius: 0.43em;
}

textarea:hover, input:hover {
	background-color: #E3F2FD;
}

textarea::placeholder, input::placeholder {
	color: #BDBDBD;
	font-family: 'Material Icons';
}

textarea {
	resize: none;
}

input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}

.material-icons {
	font-size: 1.5em;
}

.container {
	background: linear-gradient(to bottom right, #607D8B 10%, #EEEEEE 90%);
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.loader-container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.20);
}

.loader-wrapper {
	padding: 3em;
	background-color: #FFFFFF;
	box-shadow: 0 4px 4px rgba(0,0,0,0.20);
}

.loaded .loader-wrapper {
	visibility: hidden;
}

.loader {
	position: relative;
	border: 5px solid transparent;
	border-top: 5px solid #00675b;
	border-radius: 50%;
	width: 10em;
	height: 10em;
	animation: spin 3s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
}

.loader::before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	border: 5px solid transparent;
	border-top: 5px solid #009688;
	border-radius: 50%;
	animation: spin 1.5s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
}

.loader::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 15px;
	bottom: 15px;
	left: 15px;
	right: 15px;
	border: 5px solid transparent;
	border-top: 5px solid #52c7b8;
	border-radius: 50%;
	animation: spin 2s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.WorksList {
	overflow: auto;
	flex: auto;
}

.MobileMenu {
	font-size: 1.5em;
	background-color: #009688;
	display: flex;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.20);
	padding: 0.43em;
}

.MobileMenu input:focus {
	background-color: #52c7b8;
}

.WorkContainer {
	background-color: #FFFFFF;
	margin: 0.29em;
	border-radius: 0.43em;
	padding: 0.43em;
	box-shadow: 1px 1px rgba(0,0,0,0.20);
}

.animBar {
	transition: all 0.15s ease-out;
}

.animBar:hover {
	background-color: #F5F5F5;
}

.flex {
	display: flex;
}

.flexContent {
	flex: auto;
}

.bar {
	background-color: #EEEEEE;
	height: 2px;
	border-radius: 1px;
	margin: 0.29em;
}

.addButton {
	color: #009688;
	text-shadow: 0 4px 4px rgba(0,0,0,0.20);
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 4em;
}

.closeBar {
	text-align: center;
	line-height: 1;
	margin-right: -0.43em;
	margin-left: -0.43em;
	margin-bottom: -0.43em;
	border-bottom-right-radius: 0.43em;
	border-bottom-left-radius: 0.43em;
}

.deleteIcon {
	color: #BDBDBD;
	transition: all 0.15s ease-out;
}

.deleteIcon:hover {
	color: #DD2C00;
}

.closeBody, .openBody {
	color: #E0E0E0;
}

