/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

textarea, input {
	background-color: transparent;
	border: 0;
	padding: 0;
	flex: auto;
	transition: background-color 0.15s ease-out;
	border-radius: 0.43em;
}

textarea:hover, input:hover {
	background-color: #E3F2FD;
}

textarea::placeholder, input::placeholder {
	color: #BDBDBD;
	font-family: 'Material Icons';
}

textarea {
	resize: none;
}

input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}

.material-icons {
	font-size: 1.5em;
}

.container {
	background: linear-gradient(to bottom right, #607D8B 10%, #EEEEEE 90%);
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.WorksList {
	overflow: auto;
	flex: auto;
}

.MobileMenu {
	font-size: 1.5em;
	background-color: #009688;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.20);
	padding: 0.43em;
}

.MobileMenu input {
	border-radius: 3px;
	color: #424242;
}

.MobileMenu input::placeholder {
	color: #E0E0E0;
}

.MobileMenu input:focus {
	background-color: #52c7b8;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.20);
}

.WorkContainer {
	background-color: #FFFFFF;
	margin: 0.29em;
	border-radius: 0.43em;
	padding: 0.43em;
	box-shadow: 1px 1px rgba(0,0,0,0.20);
}

.animBar {
	transition: all 0.15s ease-out;
}

.animBar:hover {
	background-color: #F5F5F5;
}

.animBar:active {
	background-color: #F5F5F5;
}

.flex {
	display: flex;
}

.flexContent {
	flex: auto;
}

.bar {
	background-color: #EEEEEE;
	height: 2px;
	border-radius: 1px;
	margin: 0.29em;
}

.addButton {
	color: #009688;
	text-shadow: 0 4px 4px rgba(0,0,0,0.20);
	position: fixed;
	bottom: 0;
	right: 0;
	font-size: 4em;
}

.closeBar {
	text-align: center;
	line-height: 1;
	margin-right: -0.43em;
	margin-left: -0.43em;
	margin-bottom: -0.43em;
	border-bottom-right-radius: 0.43em;
	border-bottom-left-radius: 0.43em;
}

.deleteIcon {
	color: #BDBDBD;
	transition: all 0.15s ease-out;
}

.deleteIcon:hover {
	color: #DD2C00;
}

.closeBody, .openBody {
	color: #E0E0E0;
}

.MenuButton {
	color: #BDBDBD;
	border-radius: 3px;
	margin-left: 0.29em;
}

.MenuButton:active {
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.20);
	background-color: #52c7b8;
}

.clearButton {
	color: #BDBDBD;
	border-radius: 3px;
	margin-left: 0.29em;
	transition: all 0.25s ease-out;
}

.clearButton:active {
	color: #E0E0E0;
}

.SearchButton {
	color: #BDBDBD;
	border-radius: 3px;
	margin-right: 0.29em;
	transition: all 0.25s ease-out;
}

.SearchButton:active {
	color: #E0E0E0;
}