/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

textarea, input {
	background-color: transparent;
	border: 0;
	padding: 0;
	flex: auto;
}

textarea::placeholder, input::placeholder {
	color: #BDBDBD;
	font-family: 'Material Icons';
}

textarea {
	resize: none;
}

input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}

.material-icons {
	font-size: 1.5em;
}

.container {
	background-color: #F5F5F5;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.WorksList {
	background-color: transparent;
	overflow: auto;
	flex: auto;
}

.WorkContainer {
	background-color: #FFFFFF;
	margin: 0.29em;
	border-radius: 0.43em;
	padding: 0.43em;
	box-shadow: 0 1px rgba(0,0,0,0.20);
}

.onHover {
	transition: all 0.15s ease-out;
}

.onHover:hover {
	background-color: #F5F5F5;
}

.flex {
	display: flex;
}

.flexContent {
	flex: auto;
}

.bar {
	background-color: #EEEEEE;
	height: 2px;
	border-radius: 1px;
	margin: 0.29em;
}

.addButton {
	color: #00C853;
	text-shadow: 0 4px 4px rgba(0,0,0,0.20);
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 4em;
}

.closeBar {
	text-align: center;
	line-height: 1;
	margin-right: -0.43em;
	margin-left: -0.43em;
	margin-bottom: -0.43em;
	border-bottom-right-radius: 0.43em;
	border-bottom-left-radius: 0.43em;
}

.deleteIcon {
	color: #DD2C00;
}

.closeBody, .openBody {
	color: #E0E0E0;
}

